.floutage{
	font-family: "open sans";
	font-size: 24pt;
	transition: color 1s, text-shadow 1s;
}

.floutage:hover{
	color: transparent;
	text-shadow: 0 0 2px rgba(0,0,0,0.9);
}

.unrealism{
	position: absolute;
	border-bottom: solid black 1px;
	text-align: left;
	width: 250px;
	padding-bottom: 10px;
}

.definition{
	color: #cccccc;
	font-style: italic;
	font-size: 12pt;
	position: absolute;
	top: 75px;
	line-height: 30px;
}

.main-menu li{
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-menu{
	position: absolute;
	right: 20px;
	top: 30px;
	font-weight: 600;
}

.main-menu a{
	text-decoration: none;
	color: black;
	font-family: "open sans";
	transition: background-color 0.5s, color 0.5s;
	padding: 10px;
	background-size: 0 100%;
}

.main-menu a:hover{
	background-color: black;
	color: white;
	background-size: 100% 100%;
}

.abo{
	right:40px;
}
.vis{
	right:120px;
}
.mus{
	right:200px;
}
.vid{
	right:280px;
}

/* annulation du décalage dû à la mise en gras
.abo:hover{
	right:39px;
}
.vis:hover{
	right:119px;
}
.mus:hover{
	right:199px;
}
.vid:hover{
	right:279px;
}*/
